
body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(241, 246, 245);
}

.nav a{
    text-decoration: none;
    color: rgb(241, 246, 245);
    position: fixed;
    padding-left: 5px;

}



.heading{
    text-align: center;
    ;
}
/*
Homepage
*/

.Home .homeP ul{
    list-style: none;
}

.Home .homeP li{
    text-align: center;
    display: inline;
    margin-right: 10px;
}

.Home .homeP li a{
    
    padding-right: 10px;
    text-decoration: none;
    color: rgb(241, 246, 245);
}
 
.title{
    text-align: center;
}

.Home{
    background-color: rgb(0, 0, 0);
}

.intro{
    background-image: url(img/EarthAtTwilight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.blog{
   background-image: url(img/JW.png); 
   background-repeat: no-repeat;
   background-size: cover;
   padding: 10px 50px 100px;
   text-shadow: 0px 2px 5px  black;
}

.data{
    background-image: url(img/pillars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

#button {
    background-color: #000000; 
    border-radius: 5px 0px;
    border-color: rgb(246, 249, 249);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*
About Section
*/
.aboutMore h1{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.aboutMore .banner{
    height: 20px;
    width: 100%;

}

.aboutMore p{
    font-size: 20px;
    text-align: center;
}

.aboutMore p a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px #18B14D;
} 

.aboutMore p a :hover{
    text-shadow: 2px 2px #18B14D;
}


/*
Blog Section
*/
.BlogPost{
    /*background-color: rgba(117, 151, 252, 0.525);*/
    background-image: url("./img/SIYE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    border: solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    text-align: center;
}

/*.BlogPost::before {
    content: "";
    background-image: url(./img/JW.png);
    background-size: cover;
    opacity: 0.6;
}
*/

.BlogPost img{
display: block;
width: 300px;
}

/*
Design Section
*/
.to-top{
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active{
    bottom: 32pxs;
    pointer-events: auto;
    opacity: 1;
}

.to-top button{
    background-color: #000000;
    color: white;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 16px;
    right: 10px;

}

.WireList{
    list-style-type: none;
}

.WireList img{
    display: block;
    width: 600px;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
}

.PImg img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-bottom: 10px;
}

.NeWire{
    list-style: none;
}

.NeWire  img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-bottom: 10px;
}

.WireList img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-bottom: 10px;
}

.SG {
    display: block;
    width: 400px;
    margin-top: 10px;
    padding-left: 100px;
}

.designSectList{
    padding-top: 20px;
    text-align: center;
}
.designSectList li{
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
}
.designSectList a{
    text-decoration: underline;
    color: white;
}
.designP{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.DVPlanning img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 550px;
  padding-bottom: 10px;
}

.data-art-design{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

/*
Data Vis
*/
.titleDV{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.wordcloud{
    background-image: url(./img/MoonColour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.graph{
    background-image: url(./img/MARSround2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.bargraph{
    background-image: url(./img/Phobos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.navDV {
    padding-top: 20px;
    text-align: center;
}
.navDVli{
    list-style-type: none;
    display: inline-block;
    padding-right: 35px;
}
.navDV a{
    text-decoration: none;
    color: white;
    padding-right: 30px;
}

/*
BG styling
*/

.BGbutton{
    list-style-type: none;
    position: fixed;
    right: 170px;
    margin-top:100px ;
    
}

.BGbutton button{
    background-color: #000000; 
    border-radius: 5px 0px;
    border-color: rgb(246, 249, 249);
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

