
body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(241, 246, 245);
}
/* .nav{
    text-align: center;
    text-size-adjust: ;
} */

.nav a{
    text-decoration: none;
    color: rgb(241, 246, 245);    
    position: fixed;
    padding-left: 5px;
    margin-bottom: 20px;

}



.heading{
    text-align: center;
    ;
}
/*
Homepage
*/

.Home .homeP ul{
    list-style: none;
}

.Home .homeP li{
    text-align: center;
    display: inline;
    margin-right: 10px;
}

.Home .homeP li a{
    
    padding-right: 10px;
    text-decoration: none;
    color: rgb(241, 246, 245);
}
 
.title{
    text-align: center;
}

.Home{
    background-color: rgb(0, 0, 0);
}

.intro{
    background-image: url(img/EarthAtTwilight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.blog{
   background-image: url(img/JW.png); 
   background-repeat: no-repeat;
   background-size: cover;
   padding: 10px 50px 100px;
   text-shadow: 0px 2px 5px  black;
}

.data{
    background-image: url(img/pillars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

#button {
    background-color: #000000; 
    border-radius: 5px 0px;
    border-color: rgb(246, 249, 249);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



/*
About Section
*/
.aboutMore h1{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.aboutMore .banner{
    height: 20px;
    width: 100%;

}

.aboutMore p{
    font-size: 20px;
    text-align: center;
}

.aboutMore p a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px #18B14D;
} 

.aboutMore p a :hover{
    text-shadow: 2px 2px #18B14D;
}


/*
Blog Section
*/
.BlogPost{
    /*background-color: rgba(117, 151, 252, 0.525);*/
    /* background-image: url("./img/SIYE.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    
    border: solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    text-align: center;
}

/*.BlogPost::before {
    content: "";
    background-image: url(./img/JW.png);
    background-size: cover;
    opacity: 0.6;
}
*/

.BlogPost img{
display: block;
margin: 0 auto;
width: 300px;
}

/*
Design Section
*/
.to-top{
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active{
    bottom: 32pxs;
    pointer-events: auto;
    opacity: 1;
}

.to-top button{
    background-color: #000000;
    color: white;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 16px;
    right: 10px;

}

.to-top button img{
    width: 30px;
    height: 35px;
}

.WireList{
    list-style-type: none;
}

.WireList img{
    display: block;
    width: 600px;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
}

.PImg img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-bottom: 10px;
}

.NeWire{
    list-style: none;
}

.NeWire  img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-bottom: 10px;
}

.WireList img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-bottom: 10px;
}

.SG {
    display: block;
    width: 400px;
    margin-top: 10px;
    padding-left: 100px;
}

.designSectList{
    padding-top: 20px;
    text-align: center;
}
.designSectList li{
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
}
.designSectList a{
    text-decoration: underline;
    color: white;
}
.designP{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.designP a{
    color: white;
}

.DVPlanning img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 550px;
  padding-bottom: 10px;
}

.data-art-design{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.data-art-design img{
    display: block;
    margin: 0 auto;
    width: 550px;
}

/*
Data Vis
*/
.titleDV{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.wordcloud{
    background-image: url(./img/MoonColour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.graph{
    background-image: url(./img/MARSround2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.graph2{
    background-image: url(./img/marsLandscape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.curoGraph{
    background-image: url(./img/MarsWater.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.bargraph{
    background-image: url(./img/Phobos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px 100px;
    text-shadow: 0px 2px 5px  black;
}

.navDV {
    padding-top: 20px;
    text-align: center;
}
.navDVli{
    list-style-type: none;
    display: inline-block;
    padding-right: 35px;
}
.navDV a{
    text-decoration: none;
    color: white;
    padding-right: 30px;
}

/*
BG styling
*/

.BGbutton{
    list-style-type: none;
    position: fixed;
    right: 170px;
    margin-top:100px ;
    
}

.BGbutton button{
    background-color: #000000; 
    border-radius: 5px 0px;
    border-color: rgb(246, 249, 249);
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* 
Other styling 
*/
/* Progress scroll in blog section */


.progress-bar{
   background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
   height: 5px;
   width: 0%;
   position: fixed;
   top: 0;
   z-index: 1;
}

/* photoGrid Blog Section */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .grid-container img {
    width: 100%;
    height: auto;
  }

  /* revamp blog section Photos */
  .representation-data{
    background-image: url(./img/mars5.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px 100px 100px;
    
    text-shadow: 0px 2px 5px  black;
  }


  .data-art{
    background-image: url(./img/MoonBlogPost.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px 100px 100px;
    
    text-shadow: 0px 2px 5px  black;
  }


  .interaction-close-reading{
    background-image: url(./img/SaturnBlogPost.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px 100px 100px;
    
    text-shadow: 0px 2px 5px  black;
  }

 .critical-refection{
    background-image: url(./img/jupit1.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px 100px 100px;
    
    text-shadow: 0px 2px 5px  black;
 } 

 .liQ-close-readig{
    background-image: url(./img/EarthBlog.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px 100px 100px;
    
    text-shadow: 0px 2px 5px  black;
 }

 .blog-footer{
    width: 100%;
    height: 300px;
 }

 /* button on hover interactions */
 article #button:hover {
    background-color: #ffffff; 
    box-shadow: 0px 2px 5px  rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 17px;

  }

  /* italic */
  .italic{
    font-style: italic;
    font-weight: 900;
  }
  /* styling refrences*/
  .references a{
    color: white;
  }
  
  /* blog sectiom nav */
  .blog-nav{
    margin-top: 30px;
    text-align: center;
  }
  
  .blog-nav a{
    text-decoration: none;
    color: rgb(241, 246, 245);
    text-align: center;
    display: inline;
    margin-right: 10px;
    
    padding-left: 5px;
    margin-bottom: 20px;
  }
  /* Data Art revamp */
  .nav-art {
    margin-top: 30px;
    text-align: center;
  }

  .nav-art a{
    text-decoration: none;
    color: rgb(241, 246, 245);
    text-align: center;
    display: inline;
    margin-right: 10px;
    
    padding-left: 5px;
    margin-bottom: 20px;
  }

  .heading-art{
    text-align: center;
  }

  .body-art{
    text-align: center;
  }

  .flare-art{
    
    background-image: url(./img/Sun.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px 100px 100px;
    margin: 0px 100px 0px 100px;
    text-shadow: 0px 2px 5px  black;
  }

  .bubble-art{
    
    background-image: url(./img/Astro.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px 100px 100px;
    margin: 0px 100px 0px 100px;
    text-shadow: 0px 2px 5px  black;

  }

  .change-art{
    margin-left: 100px;
  }
/* links in blog section */

.link-data-art{
    background-image: url(./img/mars5.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.link-data-vis{
    background-image: url(./img/MarsBlogPost1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-connections section{
    height: 100px;
    color: white;
    border: solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    text-align: center;   
}
.blog-connections section a{
    margin-top: 50px;
    color: white;
    text-shadow: 0px 2px 5px  black;
}

.link-design{
    background-image: url(./img/EarthAtTwilight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}